In [1]:
#Print nmber from 1 to 5 ing a while loop.

In [14]:
i = 1
while(i<=5):
    print(i)    
    i += 1

1
2
3
4
5

In [ ]:
#Calclate the m of nmber from 1 to 10 ing a while loop.

In [18]:
num = 1
while (num <= 10):
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [19]:
#Calclate the factorial of a nmber ing a for loop.

In [29]:
import math
num = 5 
factorial = math.factorial(num)
print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [30]:
#Cont the nmber of vowel in a tring ing a for loop.

In [31]:
string = "GeekforGeeks!"
vowels = "aeiouAEIOU"
 
count = sum(string.count(vowel) for vowel in vowels)
print(count)

5

In [ ]:
#Print a pattern ing neted loop.

In [1]:
rows = 6
for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#Generate a mltiplication table uing nested loop.

In [14]:
rows = 10
columns = 10
for i in range(1, rows+1):
    for j in range(1, columns+1):
        c=i*j
        print("{:2d} " .format(c), end = '')
    print('\n')

 1  2  3  4  5  6  7  8  9 10

 2  4  6  8 10 12 14 16 18 20

 3  6  9 12 15 18 21 24 27 30

 4  8 12 16 20 24 28 32 36 40

 5 10 15 20 25 30 35 40 45 50

 6 12 18 24 30 36 42 48 54 60

 7 14 21 28 35 42 49 56 63 70

 8 16 24 32 40 48 56 64 72 80

 9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100