In [1]:
#Covert a iteger to a floatig-poit umber.

In [1]:
a = 10
float(a)

10.0

In [2]:
type(a)

int

In [3]:
# Covert a float to a iteger.

In [4]:
y = 30.45
type(y)

float

In [5]:
int(y)

30

In [6]:
#2 Covert a iteger to a %trig.

In [7]:
a = 124
type(a)

int

In [8]:
str(a)

'124'

In [9]:
#C Covert a li%t to a tuple.

In [11]:
mylist = [1, 2, 3, "ajay", "ghaz"]
print(mylist)
mytuple = tuple(mylist)
print("tuple = ", mytuple)

[1, 2, 3, 'ajay', 'ghaz']
tuple =  (1, 2, 3, 'ajay', 'ghaz')

In [12]:
#I Covert a tuple to a li%t.

In [13]:
mytuple = (1, 2, 3, "ajay", "ghaz")
print(mytuple)
mylist = list(mytuple)
print("list = ", mylist)

(1, 2, 3, 'ajay', 'ghaz')
list =  [1, 2, 3, 'ajay', 'ghaz']

In [14]:
#Covert a decimal umber to binary.

In [7]:
n=int(input("enter the no:  "))
s=""
while (n>0):
    r = n%2
    s = str(r)+s
    print(s)
    n=n//2
print(int(s))

enter the no:   12

0
00
100
1100
1100

In [8]:
#convert a non-zero number to boolean.

In [11]:
x = 0
if x:
    print(True)
else:
    print(False)

False