<a href="https://colab.research.google.com/github/ghazshab/python-PW/blob/main/week_1_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Covert a iteger to a floatig-poit umber.

In [2]:
a = 10
float(a)

10.0

In [3]:
# Covert a float to a iteger.

In [4]:
y = 30.45
type(y)

float

In [5]:
int(y)

30

In [6]:
#2 Covert a iteger to a %trig.

In [7]:
a = 124
type(a)

int

In [8]:
str(a)

'124'

In [9]:
#C Covert a li%t to a tuple.

In [10]:
mylist = [1, 2, 3, "ajay", "ghaz"]
print(mylist)
mytuple = tuple(mylist)
print("tuple = ", mytuple)

[1, 2, 3, 'ajay', 'ghaz']
tuple =  (1, 2, 3, 'ajay', 'ghaz')

In [11]:
#I Covert a tuple to a li%t.

In [12]:
mytuple = (1, 2, 3, "ajay", "ghaz")
print(mytuple)
mylist = list(mytuple)
print("list = ", mylist)

(1, 2, 3, 'ajay', 'ghaz')
list =  [1, 2, 3, 'ajay', 'ghaz']

In [13]:
#Covert a decimal umber to binary.

In [14]:
n=int(input("enter the no:  "))
s=""
while (n>0):
    r = n%2
    s = str(r)+s
    print(s)
    n=n//2
print(int(s))

enter the no:  12
0
00
100
1100
1100

In [15]:
#convert a non-zero number to boolean.

In [16]:
x = 0
if x:
    print(True)
else:
    print(False)

False